.tin-tuc-khuyen-mai {
  .header {
    background: rgba(43, 63, 81, 0.87);
    height: 177px;
    display: flex;
    font-size: 35px;
    align-items: center;

    .info {
      margin: 0 auto;
      display: flex;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      color: #ffffff;

      .message {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #ffffff;
        margin: 18px;
      }
    }
  }

  .control-filter {
    margin: 5px 0px 5px 0px;
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 1px solid #e1e1e1;
    position: relative;
    height: auto;
    justify-content: space-between;
    

    .group-filter {
      align-items: center;
      display: flex-end;

      .keyword-filter {
        margin-bottom: 5px;
        margin-left: 5px;
      }

      .date-filter {
        margin-bottom: 5px;
        margin-left: 5px;
      }
    }

    .bo-loc {
      padding: 5px 10px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.62);
      margin-bottom: 5px;
    }

    .bo-loc.selected {
      background-color: rgba(212, 212, 212, 0.87);
    }

    .bo-loc:hover {
      background-color: rgba(182, 182, 182, 0.87);
      cursor: pointer;
    }
  }

  .list-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d4d4d4;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #fff;
    margin-top: 15px;

    .image {
      width: 90%;
      height: auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    .content {
      overflow: hidden;
      height: 70%;
      margin-right: 15px;
  
      .title {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.8);
      }
      .title:hover {
        cursor: pointer;
        color: rgba(0, 0, 0, 1);
      }
  
      .description {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.87);
        overflow: hidden;
        margin-top: 15px;

        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
      }
    }

    .footer {
      margin-right: 15px;
      height: 30%;
      align-items: baseline;
      display: flex;
      justify-content: space-between;

      .postedDate {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: rgba(125, 129, 125, 0.87);
        float: left;
      }
    
      .intoDetail {
        cursor: pointer;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        color: #407AEB;
        float: right;
      }
    }
  }
}

/*Smart phone nhỏ*/
@media screen and (min-width: 240px) {
  .tin-tuc-khuyen-mai {
    .control-filter {
      // height: 70px;
      align-items: flex-start;

      .group-filter {
        flex-direction: column;
        margin-left: 10px;
        justify-content: space-between;
        display: flex;
      }
  
      .bo-loc {
        font-size: 14px;
      }
    }
  
    .list-item {
      height: 130px;

      .image {
        height: 110px;
      }
  
      .content {
        .title {
          font-size: 14px;
        }
    
        .description {
          display: none;
        }
      }
  
      .footer {
        .postedDate {
          font-size: 12px;
        }

        .intoDetail {
          display: none;
        }
      }
    }
  }  
}
/*Iphone(480 x 640)*/
@media screen and (min-width: 320px) {
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (min-width: 480px) {
}
/*Ipad dọc(768 x 1024)*/
@media screen and (min-width: 768px) {
}
/*Ipad ngang(1024 x 768)*/
@media screen and (min-width: 1024px) {
  .tin-tuc-khuyen-mai {
    .list-item {
      height: 250px;
      margin-top: 15px;
  
      .image {
        height: 230px;
      }
  
      .content {
        .title {
          font-size: 20px;
        }
    
        .description {
          display: -webkit-box;
        }
      }
  
      .footer {
        .postedDate {
          font-size: 14px;
        }

        .intoDetail {
          display: block;
        }
      }
    }
  }  
}

@media screen and (min-width: 1250px) {
  .tin-tuc-khuyen-mai {
    .control-filter {
      // height: 50px;
      align-items: center;

      .group-filter {
        flex-direction: row;
        margin-left: 0px;
      }
  
      .bo-loc {
        font-size: 16px;
      }
    }
  }
}