.tin-tuc-khuyen-mai {
  .header {
    background: rgba(43, 63, 81, 0.87);
    height: 177px;
    display: flex;
    font-size: 35px;
    align-items: center;

    .info {
      margin: 0 auto;
      display: flex;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      color: #ffffff;
    }
  }

  .content {
    overflow: hidden;
    height: 170px;

    .title {
      font-weight: bold;
      font-size: 20px;
      line-height: 35px;
      display: flex;
      margin-right: 1.5rem;
      margin-top: 1rem;
      text-align: justify;
    }
    .title:hover {
      cursor: pointer;
      font-weight: bold;
      font-size: 20px;
      line-height: 35px;
      display: flex;
      margin-right: 1.5rem;
      margin-top: 1rem;
      text-align: justify;
      color: blue;
    }

    .description {
      font-size: 12px;
      line-height: 35px;
      display: flex;

      margin-right: 1rem;
      margin-top: 0.2rem;
      text-align: justify;
      overflow: hidden;
    }
  }

  .postedDate {
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
    line-height: 35px;
    display: flex;
    margin-right: 1rem;
    text-align: justify;
    overflow: hidden;
    height: 2rem;
  }

  .intoDetail {
    cursor: pointer;
    font-style: italic;
    font-size: 12px;
    line-height: 35px;
    display: flex;
    margin-right: 1rem;
    text-align: justify;
    overflow: hidden;
    height: 2rem;

    float: right;
    text-decoration: underline;
    color: blue;
  }
}

.list-item {
  height: 220px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d4d4d4;

  background: #fff;
  margin: 10px;
  //  overflow: hidden;

 
}

.image {
  width: 100%;
  height: auto;

  position: absolute; /*it can be fixed too*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  margin-left: 1.2rem;

}

/*Smart phone nhỏ*/
@media screen and (min-width: 240px) {
}
/*Iphone(480 x 640)*/
@media screen and (min-width: 320px) {
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (min-width: 480px) {
}
/*Ipad dọc(768 x 1024)*/
@media screen and (min-width: 768px) {
}
/*Ipad ngang(1024 x 768)*/
@media screen and (min-width: 1024px) {
}
